$primary-color: #009688;
$accent-color: #94c720;
$warn-color: #c70d38;
$default-text-color: #404040;
$table-header-text: #737373;
$white-color: #ffffff;
$border-color: #c7c7c7;

:export {
  primaryColor: $primary-color;
}

